<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cyber Cars</title>
</head>
<body>
    <%- include('partials/navbar', {
        nav: {
            addCar: '/admin/car',
            addMnfctr: '/admin/manufacturer',
            cars: '/admin/car/update',
            manufacturers: '/admin/manufacturer/update',
            search: '/admin/search',
            users: '/admin/customerDetails',
            messages: '/admin/message',
            status: '/admin/carstatus',
            logout: '/admin/logout'
        },
        active: 'cars'
    }) %>
    <div class="container">
        
        <h2>Cars</h2>
        <table>
            <tr>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Max Speed</th>
                <th>rangeKM</th>
                <th>Action</th>
            </tr>

        
            <% for(var i = 0; i < data.length; i++) { %>
                <tr>
               <td> <%= data[i].model %> </td>
               <td> <%= data[i].color %> </td>
                <td> <%= data[i].price %></td>
                <td> <%= data[i].stock %></td>
                <td> <%= data[i].maxSpeed %></td>
                <td> <%= data[i].rangeKM %> </td>
                <td> <a href="/admin/car/update/<%= data[i].carID %>">Edit </a><a href="/admin/car/delete/<%= data[i].carID %>" onclick="return ConfirmDelete();">Delete</a></td> 
                </tr>
                 <% } %>
    </div>
    <script>
        function ConfirmDelete()
        {
          var x = confirm("Are you sure you want to delete?");
          if (x)
              return true;
          else
            return false;
        }
    </script> 
</body>
</html>