<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cyber Cars</title>
</head>
<body>
    <%- include('partials/navbar', {
        nav: {
            login: '/admin/login',
            addCar: '/admin/car',
            addMnfctr: '/admin/manufacturer',
            cars: '/admin/car/update',
            manufacturers: '/admin/manufacturer/update',
            search: '/admin/search',
            users: '/admin/customerDetails',
            messages: '/admin/message',
            status: '/admin/carstatus'
        },
        active: 'manufacturers'
    }) %>
    <div class="container">
        <ul>
            <% for(var i = 0; i < data.length; i++) { %>
               <li> <%= data[i].name %> <%= data[i].country %> <a href="/admin/manufacturer/update/<%= data[i].manufacturerID %>">Edit </a><a href="/admin/manufacturer/delete/<%= data[i].manufacturerID %>">Delete</a></li> 
            <% } %>
        </ul>
    </div>
</body>
</html>